h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
  margin-top: 5%;
}

ul {
  list-style: none;
}

body {
  background-color: rgba(193, 250, 108, 0.829);
}

footer {
  text-align: center;
}

#edamam-badge {
  margin-left: 10%;
  width: 15%;
  height: 15%;
}

.logo {
  margin-top: 15px;
  max-width: 260px;
}

.row {
  margin-bottom: 15px;
}

.recipe-row {
  padding: 15px;
  background-color: white;
  border: 5px solid rgba(0, 128, 0, 0.5);
  border-radius: 10px;
}

/* .input-group {
  margin: auto;
} */
